$color-border: #ddd;

.rewards {
  max-width: 500px;
  margin: auto;

  &__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    > div {
      padding: 1rem;

      &:first-child {
        border-right: 1px solid $color-border;
      }
    }

    &--total {
      border-top: 1px solid $color-border;
    }
  }
}

.text-center {
  text-align: center;
}
